<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit3" version="3.0.31106.0" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core" version="4.2.2.13055" targetFramework="net45" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.2.2.13055" targetFramework="net45" />
  <package id="DotNetOpenAuth2" version="4.2.3.13135" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net45" />
</packages>